<div class="row">
  <div class="col-12 col-xl-12 stretch-card">
    <div class="row flex-grow-1">
      <div class="col-md-4 grid-margin stretch-card">
        <div class="card text-white bg-warning bg-opacity-59">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-baseline">
              <h3 class="card-title mb-0 fs-3">รายการผู้ยืมทั้งหมด</h3>
            </div>
            <div class="row">
              <div class="col-6 col-md-12 col-xl-5">
                <h3 class="mb-2">{{totalBorrow}}</h3>
                <div class="d-flex align-items-baseline">
                </div>
              </div>
              <div class="col-6 col-md-12 col-xl-7">
                <!-- icon -->
                <div
                  class="justify-content-center position-absolute end-0 me-3 top-50 translate-middle-y">
                  <i data-feather="box" appFeatherIcon class="text-white big-icon" style="width: 94px;height: 94px;"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 grid-margin stretch-card">
        <div class="card text-white bg-danger bg-opacity-59">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-baseline">
              <h6 class="card-title mb-0 fs-3">สถานะการ:ยังไม่คืน</h6>
            </div>
            <div class="row">
              <div class="col-6 col-md-12 col-xl-5">
                <h3 class="mb-2">{{borrowOne}}</h3>
                <div class="d-flex align-items-baseline">
                </div>
              </div>
              <div class="col-6 col-md-12 col-xl-7">
                <!-- icon -->
                <div
                  class="justify-content-center position-absolute end-0 me-3 top-50 translate-middle-y">
                  <i data-feather="box" appFeatherIcon class="text-white big-icon" style="width: 94px;height: 94px;"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 grid-margin stretch-card">
        <div class="card  text-white bg-success bg-opacity-59">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-baseline">
              <h6 class="card-title mb-0 fs-3">สถานะการ:คืนสำเร็จ</h6>
            </div>
            <div class="row">
              <div class="col-6 col-md-12 col-xl-5">
                <h3 class="mb-2">{{borrowTwo}}</h3>
                <div class="d-flex align-items-baseline">
                </div>
              </div>
              <div class="col-6 col-md-12 col-xl-7">
                <!-- icon -->
                <div
                  class="justify-content-center position-absolute end-0 me-3 top-50 translate-middle-y">
                  <i data-feather="box" appFeatherIcon class="text-white big-icon" style="width: 94px;height: 94px;"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> <!-- row -->

<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h6 class="card-title">ทะเบียนยืม/คืนครุภัณฑ์</h6>
          <div class="table-responsive pt-3">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>#</th>
                  <th></th>
                  <th>วันที่ยืม</th>
                  <th>ผู้ป่วย</th>
                  <th>สถานะ</th>
                  <th>ผู้ยืม</th>
                  <th>ที่อยู่</th>
                  <th>ค่ามัดจำ</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let borrow of pagedData; let i = index">
                  <td>{{ (page - 1) * pageSize + i + 1 }}</td>
                  <td>
                    <a class="align-items-center"><i data-feather="eye" appFeatherIcon class="icon-sm me-2"></i></a>
                    <a class="align-items-center"><i data-feather="trash" appFeatherIcon class="icon-sm me-2"></i> </a>
                    <a class="align-items-center"><i data-feather="edit-2" appFeatherIcon class="icon-sm me-2"></i> </a>
                  </td>
                  <td>{{ borrow.borrow_date | thaidate:true}}</td>
                  <td>{{ borrow.patient}}</td>
                  <td>
                    <span [class]="getBadgeClass(borrow.statusborrow)">{{ borrow.statusborrow}}</span>
                  </td>
                  <td>{{ borrow.person?.fname }}&nbsp;{{ borrow.person?.lname}}</td>
                  <td>
                    {{ borrow.address?.bannumber+'&nbsp;'+borrow.address?.moo+'&nbsp;'+borrow.address?.village+'&nbsp;'+borrow.address?.tambon}}
                  </td>
                  <td> {{ borrow.expenses}} </td>
                </tr>
              </tbody>
            </table>
            <!-- Pagination -->
            <div class="d-flex justify-content-between align-items-center mt-3">
  
              <!-- page size -->
              <div>
                <select class="form-select form-select-sm w-auto" [(ngModel)]="pageSize" (change)="refreshData()">
                  <option [value]="5">5</option>
                  <option [value]="10">10</option>
                  <option [value]="20">20</option>
                </select>
              </div>
  
              <!-- pagination ui -->
              <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="collectionSize" [maxSize]="5"
                [rotate]="true" [ellipses]="true" (pageChange)="refreshData()">
              </ngb-pagination>
  
            </div>
          </div>
  
        </div>
      </div>
    </div>
  </div>
