<div class="container">
  <div class="row w-100 mx-0 auth-page">
    <div class="col-md-8 col-xl-6 mx-auto">
      <div class="card">
        <div class="row">
          <div class="col-md-4 pe-md-0">
            <div class="auth-side-wrapper" [ngStyle]="{ 'background-image': 'url(https://placehold.co/250x650)' }"></div>
          </div>
          <div class="col-md-8 ps-md-0">
            <div class="auth-form-wrapper px-4 py-5">
              <a routerLink="." class="nobleui-logo d-block mb-2">Noble<span>UI</span></a>
              <h5 class="text-secondary fw-normal mb-4">Create a free account.</h5>

              <form class="forms-sample" [formGroup]="registerForm" (ngSubmit)="onRegister($event)">
                
                <div class="mb-3">
                  <label class="form-label">Username</label>
                  <input type="text" class="form-control" formControlName="username" placeholder="Username">
                </div>

                <div class="mb-3">
                  <label class="form-label">Full Name</label>
                  <input type="text" class="form-control" formControlName="fullname" placeholder="Full Name">
                </div>

                <div class="mb-3">
                  <label class="form-label">Email address</label>
                  <input type="email" class="form-control" formControlName="email" placeholder="Email">
                </div>

                <div class="mb-3">
                  <label class="form-label">Password</label>
                  <input type="password" class="form-control" formControlName="password" placeholder="Password">
                </div>

                <div class="row">
                  <div class="col-sm-6 mb-3">
                    <label class="form-label">Position</label>
                    <input type="text" class="form-control" formControlName="position" placeholder="Position">
                  </div>
                  <div class="col-sm-6 mb-3">
                    <label class="form-label">Telephone</label>
                    <input type="text" class="form-control" formControlName="tel" placeholder="Tel">
                  </div>
                </div>

                <div class="mb-3">
                  <label class="form-label">Role</label>
                  <select class="form-select" formControlName="role">
                    <option value="admin">admin</option>
                    <option value="staff">staff</option>
                    <option value="user">viewer</option>
                  </select>
                </div>

                <div>
                  <button type="submit" class="btn btn-primary me-2 mb-2 mb-md-0">Sign up</button>
                </div>
                <a routerLink="/auth/login" class="d-block mt-3 text-secondary">Already a user? Sign in</a>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>