    <div class="row">
      <div class="col-md-12 grid-margin">
        <div class="card">
          <div class="card-body">
            <h6 class="card-title">บันการยืมครุภัณฑ์ทางการแพทย์</h6>
    
            <aw-wizard #wizardForm>
              
              <aw-wizard-step stepTitle="ข้อมูลผู้ยืม">
                <form (ngSubmit)="form1Submit()" [formGroup]="validationForm1">
    
                  <div class="row mb-3">
                    <label for="firstName" class="col-sm-3 col-form-label">ชื่อ</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" id="firstName" formControlName="firstName" 
                      [ngClass]="{'is-invalid': isForm1Submitted && form1.firstName.errors}" placeholder="First name">
                      @if (isForm1Submitted && form1.firstName.errors?.required) {
                        <p class="invalid-feedback"> Required </p>
                      }
                    </div>
                  </div>
    
                  <div class="row mb-3">
                    <label for="lastName" class="col-sm-3 col-form-label">สกุล</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" id="lastName" formControlName="lastName" 
                        [ngClass]="{'is-invalid': isForm1Submitted && form1.lastName.errors}" placeholder="Last name">
                      @if (isForm1Submitted && form1.lastName.errors?.required) {
                        <p class="invalid-feedback"> Required </p>
                      }
                    </div>
                  </div>
    
                  <div class="row mb-3">
                    <label for="userName" class="col-sm-3 col-form-label">เบอร์โทร</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" id="phone" formControlName="phone" 
                      [ngClass]="{'is-invalid': isForm1Submitted && form1.phone.errors}" placeholder="081...">
                      @if (isForm1Submitted && form1.phone.errors?.required) {
                        <p class="invalid-feedback"> Required </p>
                      }
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="relation" class="col-sm-3 col-form-label">ความสัมพันธ์</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" id="relation" formControlName="relation" 
                      [ngClass]="{'is-invalid': isForm1Submitted && form1.relation.errors}" placeholder="เช่น บุตร สามี เป็นต้น">
                      @if (isForm1Submitted && form1.relation.errors?.required) {
                        <p class="invalid-feedback"> Required </p>
                      }
                    </div>
                  </div>
                  <div class="d-flex justify-content-center mt-2">
                    <button class="btn btn-primary" type="submit">Continue</button>
                  </div>
                </form>
              </aw-wizard-step>
    
              <aw-wizard-step stepTitle="รายละเอียดการยืม">
                <form (ngSubmit)="form2Submit()" [formGroup]="validationForm2">
                  <div class="row mb-3">
                    <label for="email" class="col-sm-3 col-form-label">วันที่ยืม</label>
                    <div class="col-sm-2">
                      <input type="date" class="form-control" id="borrow_date" formControlName=" borrow_date" >
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="patient" class="col-sm-3 col-form-label">ชื่อผุ้ป่วย</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" id="patient" formControlName="patient" >
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="password" class="col-sm-3 col-form-label">เลือกเจ้าหน้าที่</label>
                    <div class="col-sm-9">
                      <input type="password" class="form-control" id="password" formControlName="password" >
                    </div>
                  </div>
                  <div class="d-flex justify-content-center mt-2">
                    <button class="btn btn-secondary me-2" type="button" awPreviousStep>Back</button>
                    <button class="btn btn-primary" type="submit">Continue</button>
                  </div>
                </form>
              </aw-wizard-step>
    
              <aw-wizard-step stepTitle="finish">
                <div class="text-center">
                  <i data-feather="check-circle" appFeatherIcon class="text-success mt-4 mb-2 icon-xxl"></i>
                  <h3 class="text-secondary mb-3">Thank you !</h3>
                  <p class="w-75 mx-auto mb-4 text-secondary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ut nulla nunc. Maecenas arcu sem, hendrerit a tempor quis, sagittis accumsan tellus. In hac habitasse platea dictumst</p>
                </div>
                <div class="d-flex justify-content-center mt-2">
                  <button class="btn btn-secondary me-2" type="button" awPreviousStep>Back</button>
                  <button class="btn btn-success" type="button" (click)="finishFunction()">Finish</button>
                </div>
              </aw-wizard-step>
    
            </aw-wizard>
    
          </div>
        </div>
      </div> <!-- col -->
    
    </div> <!-- row -->