    <div class="row">
      <div class="col-md-12 grid-margin">
        <div class="card">
          <div class="card-body">
            <h6 class="card-title">บันการยืมครุภัณฑ์ทางการแพทย์</h6>
    
            <aw-wizard #wizardForm>
              
              <aw-wizard-step stepTitle="ข้อมูลผู้ยืม">
                <form (ngSubmit)="form1Submit()" [formGroup]="validationForm1">
    
                  <div class="row mb-3">
                    <label for="firstName" class="col-sm-3 col-form-label">ชื่อ</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" id="firstName" formControlName="firstName" 
                      [ngClass]="{'is-invalid': isForm1Submitted && form1.firstName.errors}" placeholder="First name">
                      @if (isForm1Submitted && form1.firstName.errors?.required) {
                        <p class="invalid-feedback"> Required </p>
                      }
                    </div>
                  </div>
    
                  <div class="row mb-3">
                    <label for="lastName" class="col-sm-3 col-form-label">สกุล</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" id="lastName" formControlName="lastName" 
                        [ngClass]="{'is-invalid': isForm1Submitted && form1.lastName.errors}" placeholder="Last name">
                      @if (isForm1Submitted && form1.lastName.errors?.required) {
                        <p class="invalid-feedback"> Required </p>
                      }
                    </div>
                  </div>
    
                  <div class="row mb-3">
                    <label for="userName" class="col-sm-3 col-form-label">เบอร์โทร</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" id="phone" formControlName="phone" 
                      [ngClass]="{'is-invalid': isForm1Submitted && form1.phone.errors}" placeholder="081...">
                      @if (isForm1Submitted && form1.phone.errors?.required) {
                        <p class="invalid-feedback"> Required </p>
                      }
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="relation" class="col-sm-3 col-form-label">ความสัมพันธ์</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" id="relation" formControlName="relation" 
                      [ngClass]="{'is-invalid': isForm1Submitted && form1.relation.errors}" placeholder="เช่น บุตร สามี เป็นต้น">
                      @if (isForm1Submitted && form1.relation.errors?.required) {
                        <p class="invalid-feedback"> Required </p>
                      }
                    </div>
                  </div>
                  <div class="d-flex justify-content-center mt-2">
                    <button class="btn btn-primary" type="submit">Continue</button>
                  </div>
                </form>
              </aw-wizard-step>
    
              <aw-wizard-step stepTitle="รายละเอียดการยืม">
                <form (ngSubmit)="form2Submit()" [formGroup]="validationForm2">
                  <div class="row mb-3">
                    <label for="email" class="col-sm-3 col-form-label">วันที่ยืม</label>
                    <div class="col-sm-2">
                      <input type="date" class="form-control" name="borrow_date" formControlName="borrow_date" >
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="patient" class="col-sm-3 col-form-label">ชื่อผุ้ป่วย</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" id="patient" formControlName="patient" >
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="password" class="col-sm-3 col-form-label">รหัสผู้ยืม</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" name="personid" formControlName="personid" >
                    </div>
                  </div>
                   <div class="row mb-3">
                    <label for="password" class="col-sm-3 col-form-label">เจ้าหน้าที่</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" name="userid" formControlName="userid" >
                    </div>
                  </div>
                 <div class="row mb-3">
                    <label for="password" class="col-sm-3 col-form-label">ที่อยู่</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" name="address" formControlName="address" >
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="details" class="col-sm-3 col-form-label">รายละเอียดการยืม</label>
                    <div class="col-sm-9">
                      <textarea class="form-control" rows="3" placeholder="รายละเอียดการยืม" ></textarea>
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="remark" class="col-sm-3 col-form-label">หมายเหตุ</label>
                    <div class="col-sm-9">
                      <textarea class="form-control" rows="3" placeholder="หมายเหตุ" ></textarea>
                    </div>
                  </div>
                  <div class="d-flex justify-content-center mt-2">
                    <button class="btn btn-secondary me-2" type="button" awPreviousStep>Back</button>
                    <button class="btn btn-primary" type="submit">Continue</button>
                  </div>
                </form>
              </aw-wizard-step>

              <aw-wizard-step stepTitle="รายการครุภัณฑ์ที่ยืม">
                <form [formGroup]="validationForm3">
                  <div formArrayName="items">
                    <div *ngFor="let item of items.controls; let i=index" [formGroupName]="i" class="mb-3 border p-3">
                      <div class="row mb-3">
                        <label for="borrowID" class="col-sm-3 col-form-label">รหัสการยืม</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" name="borrowid" formControlName="borrowid" placeholder="ชื่อครุภัณฑ์">
                        </div>
                      </div>
                      <div class="row mb-3">
                        <label for="karupanID" class="col-sm-3 col-form-label">รหัสครุภัณฑ์</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" name="karupanid" formControlName="karupanid" placeholder="รหัสครุภัณฑ์">
                        </div>
                      </div>
                      <div class="row mb-3">
                        <label for="diposit" class="col-sm-3 col-form-label">จำนวน</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" name="diposit" formControlName="diposit" placeholder="จำนวน">
                        </div>
                      </div>
                      <button type="button" class="btn btn-danger" (click)="removeItem(i)">ลบรายการ</button>
                    </div>
                  </div>
                  <button type="button" class="btn btn-secondary mb-3" (click)="addItem()">เพิ่มรายการครุภัณฑ์</button>
                  <div class="d-flex justify-content-center mt-2">
                    <button class="btn btn-secondary me-2" type="button" awPreviousStep>Back</button>
                    <button class="btn btn-primary" type="button" (click)="submitform3()">Continue</button>
                    </div>
                    </form>
                    </aw-wizard-step>
              <aw-wizard-step stepTitle="finish">
                <div class="text-center">
                  <i data-feather="check-circle" appFeatherIcon class="text-success mt-4 mb-2 icon-xxl"></i>
                  <h3 class="text-secondary mb-3">บันทึกการยืมสำเร็จ !</h3>
                </div>
                <div class="d-flex justify-content-center mt-2">
                  <button class="btn btn-secondary me-2" type="button" awPreviousStep>Back</button>
                  <button class="btn btn-success" type="button" (click)="finishFunction()">Finish</button>
                </div>
              </aw-wizard-step>
    
            </aw-wizard>
    
          </div>
        </div>
      </div> <!-- col -->
    
    </div> <!-- row -->
    <div class="row">
      <!-- Button trigger xl modal -->
<button class="btn btn-primary" (click)="openXlModal(xlModal)">ดูครุภัณฑ์</button>
<!-- Modal -->
<ng-template #xlModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">ครุภัณฑ์ทางการแพทย์</h5>
    <button type="button" class="btn-close" (click)="modal.close('by: close icon')" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <div class="table-responsive">
      <table class="table table-bordered">
       <thead>
         <tr>
           <th>รหัสครุภัณฑ์</th>
           <th>ชื่อครุภัณฑ์</th>
           <th>image</th>
           <th>สถานะ</th>
           <th>เลือก</th>
         </tr>
       </thead>
       <tbody>
         <!-- แสดงข้อมูลจาก karupanborrow -->
         <tr *ngFor="let item of karupanborrow">
           <td>{{ item.karupanCode }}</td>
           <td>{{ item.kname }}</td>
           <td>
         <img [src]="'http://localhost:3000/' + item.imageUrl" alt="รูปครุภัณฑ์" width="80"/>
           </td>
           <td>{{ item.status }}</td>
           <td><button class="btn btn-success btn-sm" (click)="chooseItem(item)">เลือก</button></td>
         </tr>
       </tbody>
     </table>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close('by: close button')">Close</button>
    <button type="button" class="btn btn-primary" (click)="modal.close('by: save button')">Save changes</button>
  </div>
</ng-template>
</div>