<div class="row">
    <div class="col-md-12 stretch-card">
      <div class="card">
        <div class="card-body">
  
          <h6 class="card-title">ผู้ยืมครุภัณฑ์</h6>
          <form class="forms-sample">
            <div class="col-md-3">
                <div class="mb-3">
                  <label for="exampleInputUsername1" class="form-label">ชื่อ สกุล</label>
                  <input type="text" class="form-control" id="exampleInputUsername1" autocomplete="off" placeholder="Username">
                </div>
            </div>
            <div class="col-md-3">            
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">โทร</label>
                  <input type="tel" class="form-control" id="exampleInputEmail1" placeholder="082...">
                </div>
            </div>
            <div class="col-md-3">
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">ความสัมพันธ์</label>
                  <input type="tel" class="form-control" id="exampleInputPassword1" autocomplete="off">
                </div>
            </div>
            <button type="submit" class="btn btn-primary me-2">บันทึก</button>
          </form>
  
        </div>
      </div>
    </div>
    </div>
