<div class="row">
    <div class="col-12 col-md-6 col-xl-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Karupan Type</h5>
            <h6 class="card-subtitle mb-2 text-secondary">add karupan type</h6>
            <p class="card-text mb-3">ครุภัณฑ์สำนักงาน ครุภัณฑ์ยานพาหนะและขนส่ง ครุภัณฑ์ไฟฟ้าและวิทยุ ครุภัณฑ์การแพทย์ ครุภัณฑ์การเกษตร และครุภัณฑ์ก่อสร้าง</p>
            <a href="" (click)="false" class="card-link">Add</a>
            <a href="" (click)="false" class="card-link">views</a>
          </div>
        </div>
    </div>
</div>
