<div class="row">
    <div class="col-12 col-md-6 col-xl-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Karupan Type</h5>
            <h6 class="card-subtitle mb-2 text-secondary">add karupan type</h6>
            <p class="card-text mb-3">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="" (click)="false" class="card-link">Card link</a>
            <a href="" (click)="false" class="card-link">Another link</a>
          </div>
        </div>
    </div>
        <div class="col-12 col-md-6 col-xl-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">User</h5>
            <h6 class="card-subtitle mb-2 text-secondary">Add user</h6>
            <p class="card-text mb-3">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="" (click)="false" class="card-link">Card link</a>
            <a href="" (click)="false" class="card-link">Another link</a>
          </div>
        </div>
    </div>
</div>
